{% extends "base.html" %}

{% block title %}All articles{% endblock %}

{% block content %}
{% for article in object_list %}
<div class="row justify-content-center">
    <div class="col-md-9 text-center">
	<h1><a href="{{ article.slug }}">{{ article.name }}</a><h1>
	<h5>{{ article.created_at|date:"d F Y" }}</h5>
	<br>
    </div>
    <div class="col-md-6 text-justify">
	<p>{{ article.preview_text }}</p>
    </div>
    <div class="col-md-3">
	<img class=w-100" src="{{ article.preview_picture.image.url }}" alt="{{ article.preview_picture.name }}">
    </div>
</div>
{% if not forloop.last %}
<hr/>
{% endif %}
{% endfor %}
{% endblock %}


