<div id="CookielawBanner">
    <div class="container">
	<h6>Cookies disclaimer</h6>
	<p>
	<a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">I agree</a>
	This site saves small pieces of text information (cookies) on your device in order to deliver better content and for statistical purposes. You can disable the usage of cookies by changing the settings of your browser. By browsing this website without changing the browser settings you grant permission to store that information on your device.
	</p>
    </div>
</div>
