{% extends "base.html" %}

{% block title %}Peter Lang{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div id="artCarousel" class="carousel slide col-md-9" data-ride="carousel">

	<!-- The slideshow -->
	<div class="carousel-inner">
	    {% for object in object_list %}
	    {% if forloop.first %}
	    <div class="carousel-item active text-center">
		<h1>{{ object.name }}</h1>
		<a href="/artwork/{{ object.slug }}/">
		    <img class="w-100" src="{{ object.image.url }}" alt="{{ object.name }}">
		</a>
	    </div>
	    {% else %}
	    <div class="carousel-item text-center">
		<h1>{{ object.name }}</h1>
		<a href="/artwork/{{ object.slug }}/">
		    <img class="w-100" src="{{ object.image.url }}" alt="{{ object.name }}">
		</a>
	    </div>
	    {% endif %}
	    {% endfor %}
	</div>

	<!-- Left and right controls -->
	<a class="carousel-control-prev" href="#artCarousel" data-slide="prev">
	    <span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#artCarousel" data-slide="next">
	    <span class="carousel-control-next-icon"></span>
	</a>

    </div>
</div>
{% endblock %}


