{% extends "base.html" %}

{% block title %}Peter Lang{% endblock %}

{% block content %}

<div id="artCarousel" class="carousel slide" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
	{% for object in object_list %}
	{% if forloop.first %}
	<div class="carousel-item active">
	    <img src="{{ object.image.url }}" alt="{{ object.name }}" width="100%">
	    <div class="carousel-caption">
		<h3><a href="/artwork/{{ object.slug }}/" class="text-dark bg-white">{{ object.name }}</a></h3>
	    </div>
	</div>
	{% else %}
	<div class="carousel-item">
	    <img src="{{ object.image.url }}" alt="{{ object.name }}" width="100%">
	    <div class="carousel-caption">
		<h3><a href="/artwork/{{ object.slug }}/" class="text-dark bg-white">{{ object.name }}</a></h3>
	    </div>
	</div>
	{% endif %}
	{% endfor %}
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#artCarousel" data-slide="prev">
	<span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#artCarousel" data-slide="next">
	<span class="carousel-control-next-icon"></span>
    </a>

</div>

{% endblock %}


